includes:
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false

    parallel:
       maximumNumberOfProcesses: 4

    tmpDir: storage/tmp/phpstan

    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: missingType.iterableValue