includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max

    parallel:
       maximumNumberOfProcesses: 6

    paths:
        - src
        - tests

    tmpDir: storage/tmp/phpstan

    treatPhpDocTypesAsCertain: false